<div> <!--class="jumbotron"-->
    <h2>{{story.title}}</h2>
    <h3>{{story.description}}</h3>
    {{story.text}}
    <div ng-repeat="imagePath in imagePaths">
        <editable-image location="id" size="thumbnail" name="{{imagePath}}"/>
        <button ng-click="delete(imagePath)" translate="global.editableStory.delete"/>
        <button ng-click="delete(imagePath)"/>
        <button translate="global.editableStory.delete"/>
        <button/>
    </div>
    <button ng-click="add()" translate="global.editableStory.add"/>
</div>
